.footer {
    background-color: #F7F7F7 !important;
    border-top: 1px solid #DDDDDD !important;
}

.hyper-link {
    a {
        color: black;
    }

    a:hover {
        text-decoration: underline;
        color: gray;
    }
}