<section class="footer">
    <div class="container pb-3">
        <div class="row">
            <div class="col-6 col-md-3  mt-5 hyper-link">
                <p class="font-weight-bold">ABOUT</p>
                <a href="">About</a><br>
                <a href="">About</a><br>
                <a href="">About</a><br>
                <a href="">About</a><br>
            </div>
            <div class="col-6 col-md-3  mt-5 hyper-link">
                <p class="font-weight-bold">COMMUNITY</p>
                <a href="">Community</a><br>
                <a href="">Community</a><br>
                <a href="">Community</a><br>
                <a href="">Community</a><br>

            </div>
            <div class="col-6 col-md-3  mt-5 hyper-link">
                <p class="font-weight-bold">HOST</p>
                <a href="">Host</a><br>
                <a href="">Host</a><br>
                <a href="">Host</a><br>
                <a href="">Host</a><br>
                <a href="">Host</a><br>
                <a href="">Host</a><br>
            </div>
            <div class="col-6 col-md-3  mt-5 hyper-link">
                <p class="font-weight-bold">SUPPORT</p>
                <a href="">Support</a><br>
                <a href="">Support</a><br>
                <a href="">Support</a><br>
                <a href="">Support</a><br>
                <a href="">Support</a><br>
                <a href="">Support</a><br>
            </div>
        </div>
        <hr>
        <div>
            <span class="hyper-link font-14">
                © 2020 Labour Diary, Inc. All rights reserved  · 
                <a href="">Privacy</a> · 
                <a href="">Terms</a> · 
                <a href="">Site Map</a>
            </span>
            <span class="float-right">English</span>
        </div>
    </div>
</section>