<div class="container" style="padding-top: 120px;">
	<h2 class="font-700">Dashboard</h2>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<h4 class="font-700">Requests</h4>
				    		<p class="text-muted">Nothing you need to do right now-you're all set</p>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<div *ngIf="isLoading; else showStats">Loading..</div>
				    		<ng-template #showStats>
				    			<div *ngIf="stats; else noDataFound">
						    		<h4  class="font-700">Stats</h4>
						    		<div class="row pt-3 pb-3">
						    			<div class="col-4">
							    			<h4 class="margin-bottom font-700">{{stats.rating.toFixed(2)}}<i class="fa fa-star star-style" aria-hidden="true"></i></h4>
							    			<span class="f-14">Overall rating</span>
						    			</div>
						    			<div class="col-4">
						    				<h4 class="margin-bottom font-700">{{stats.reviewsCount}}</h4>
							    			<span class="f-14">Total reviews</span>
						    			</div>
						    			<div class="col-4">
						    				<h4 class="margin-bottom font-700">{{stats.jobSatisfaction ? stats.jobSatisfaction : 0}}%</h4>
							    			<span class="f-14">Response rate</span>
						    			</div>
						    		</div>
						    		<div class="row border-top  pt-3 pb-3">
						    			<div class="col-4">
							    			<h4 class="margin-bottom font-700">${{stats.earning}}</h4>
							    			<span class="f-14">{{currDate}} earings</span>
						    			</div>
						    			<div class="col-4">
						    				<h4 class="margin-bottom font-700">{{stats.viewsCount}}</h4>
							    			<span class="f-14">30-day views</span>
						    			</div>
						    			<div class="col-4">
						    				<h4 class="margin-bottom font-700">{{stats.noOfBooking}}</h4>
							    			<span class="f-14">30-day bookings</span>
						    			</div>
						    		</div>
				    			</div>
				    		</ng-template>
				    		<ng-template #noDataFound>
				    			No data found
				    		</ng-template>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-4 ">
				    	<div class="card-body">
				    		<h4 class="font-700">Reservations</h4>
				    		<p class="text-muted">No upcoming reservations</p>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row mb-4 mt-2">
				<div class="col-12">
					<a href="#" class="color-6cabab">Give us feedback</a>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<h3 class="pb-4 font-700">Notifications</h3>
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    	</div>
				  	</div>
				  	<div class="card">
				    	<div class="card-body">
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    	</div>
				  	</div>
				  	<div class="card mb-4">
				    	<div class="card-body">
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    		<a href="#" class="color-6cabab">Show all</a>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>