<div class="container" style="padding-top: 120px;">
	<h4>Dashboard</h4>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<h5>Requests</h5>
				    		<p>Nothing you need to do right now-you're all set</p>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<h5>Stats</h5>
				    		<div class="row pt-3 pb-3">
				    			<div class="col-4">
					    			<h6 class="margin-bottom"> 4.6</h6>
					    			<span class="f-14">Overall rating</span>
				    			</div>
				    			<div class="col-4">
				    				<h6 class="margin-bottom"> 41</h6>
					    			<span class="f-14">Total reviews</span>
				    			</div>
				    			<div class="col-4">
				    				<h6 class="margin-bottom">0%</h6>
					    			<span class="f-14">Response rate</span>
				    			</div>
				    		</div>
				    		<div class="row border-top  pt-3 pb-3">
				    			<div class="col-4">
					    			<h6 class="margin-bottom">$0.00</h6>
					    			<span class="f-14">October earings</span>
				    			</div>
				    			<div class="col-4">
				    				<h6 class="margin-bottom">0</h6>
					    			<span class="f-14">30-day views</span>
				    			</div>
				    			<div class="col-4">
				    				<h6 class="margin-bottom">0</h6>
					    			<span class="f-14">30-day bookings</span>
				    			</div>
				    		</div>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-4 ">
				    	<div class="card-body">
				    		<h5>Reservations</h5>
				    		<p>No upcoming reservations</p>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="row mb-4 mt-2">
				<div class="col-12">
					<a href="#" class="color-6cabab">Give us feedback</a>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="card mt-4">
				    	<div class="card-body">
				    		<h5 class="pb-4">Notifications</h5>
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    	</div>
				  	</div>
				  	<div class="card">
				    	<div class="card-body">
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    	</div>
				  	</div>
				  	<div class="card mb-4">
				    	<div class="card-body">
				    		<p>Know someone who can help you host Clean Room in Evere-close to BRU AlrPort-zaventem?Invite them as a cpst</p>
				    		<p>May3, 2018</p>
				    		<a href="#" class="color-6cabab">Show all</a>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>