<div class="container" style="padding-top: 125px;">
	<h5>My Orders</h5>
	<div *ngIf="isLoading; else showData">Loading..
	</div>
	<ng-template #showData>
		<div  infiniteScroll
            [infiniteScrollDistance]="0"
            [infiniteScrollThrottle]="50"
            (scrolled)="getUserOrders()"
            [scrollWindow]="true"
         >
			<div *ngIf="!!orders && orders.length>0; else noDataFound">
				<div class="card mb-3 box-shadow" *ngFor="let order of orders;" (click)="orderDetails(order)">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div *ngIf="order.user">
									<img   class="float-right rounded-circle position-absolute" [src]="((order.user.imageUrl == '') || (order.user.imageUrl == 'null')) ? 'assets/img/personImg.jpg' : order.user.imageUrl" alt="" width="48px" height="48px">
									<p class="pl-57 font-bold">{{order.user.firstName}} {{order.user.lastName}}</p>
								</div>
								<div *ngIf="order.service">
									<p class="pl-57">{{order.service.name}}</p>
								</div>
							</div>
							<div class="col-4">
								<span class="font-bold">{{order.totalAmount}}</span>
							</div>
							<div class="col-4">
								<div *ngIf="order.orderStatus!='COMPLETED'; else showMessage">
									<span class="font-bold">{{order.orderStatus}}</span>
								</div>
								<ng-template #showMessage>
									<button type="button" class="btn btn-primary" (click)="goToChat(order)">Message</button>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	</ng-template>
	<ng-template #noDataFound>
		No order available.
	</ng-template>
</div>