<div class="container" style="padding-top: 125px;">
	<h5>My Orders</h5>
	<div *ngIf="isLoading; else showData">Loading..
	</div>
	<ng-template #showData>
		<div *ngIf="!!orders && orders.length>0">
			<div class="card mb-3" *ngFor="let order of orders;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<div *ngIf="order.user">
								<img   class="float-right rounded-circle position-absolute" [src]="((order.user.imageUrl == '') || (order.user.imageUrl == 'null')) ? 'assets/img/personImg.jpg' : order.user.imageUrl" alt="" width="48px" height="48px">
								<p class="pl-57">{{order.user.firstName}} {{order.user.lastName}}</p>
							</div>
							<div *ngIf="order.service">
								<p class="pl-57">{{order.service.name}}</p>
							</div>
						</div>
						<div class="col-4">
							{{order.totalAmount}}
						</div>
						<div class="col-4">
							{{order.orderStatus}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	</ng-template>
	<ng-teamplate #noDataFound>
		No order available.
	</ng-teamplate>
</div>