<div class = "container">
	<form class="form-in-centre mb-5" [formGroup]="privateInformationForm">
		<h5 class="pt-5 pb-3">Private Information</h5>
		<div class="form-border">
			<div class = "form-group">
				<img class="center" src="assets/img/personImg.jpg" alt="">
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="gender" formControlName="gender"  id="inlineRadio1" value="male">
				<label class="form-check-label" for="inlineRadio1">Male</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="gender" formControlName="gender"  id="inlineRadio2" value="female">
				<label class="form-check-label" for="inlineRadio2">Female</label>
			</div>
			<div class="form-check form-check-inline mb-3">
				<input class="form-check-input" type="radio" name="gender" formControlName="gender" id="inlineRadio3" value="other" >
				<label class="form-check-label" for="inlineRadio3">Other</label>
			</div>
			<div class = "form-row">
				<div class = "form-group col-md-12">
					<label for = "inputEmail4">Date of birth</label>
					<input type = "date" class =" form-control" 
					id = "inputEmail4" placeholder= "Enter DOB" formControlName="dob">
				</div>

				<div class = "form-group col-md-12">
					<label for = "inputPassword4">Email</label>
					<input type = "text" class = "form-control" 
					id = "inputPassword4" placeholder = "Email" formControlName="email" readonly="true">
				</div>
			</div>
			<div class = "form-group">
				<label for = "inputAddress">Phone Number</label>
				<div class="row">
					<div class="col-5">
                        <app-country-input [countryCode] = "countryDialCode" (onCountryChange)="resetPhoneNumber($event)"> </app-country-input>
					</div>
					<div class="col-7">
						<input type = "text" class = "form-control" id = "inputAddress" 
						placeholder = "Phone Number" formControlName="phone">
					</div>
				</div>
			</div>
			<div class = "form-group">
				<label for = "inputState">Spoken Languages</label>
				<select id = "inputState" class = "form-control" formControlName="language">
					<option selected disabled value="">Select Languages</option>
					<option>English (EN)</option>
					<option>French (FR)</option>
					<option>Deutsch (DE)</option>
					<option>Dutch (NL)</option>
				</select>
			</div>
			<div class = "form-group">
				<label for = "inputAddress">ID proof</label>
				<input type = "file" class = "form-control" id = "inputAddress" 
				placeholder = "ID proof" formControlName="idProof" (change)="onSelectFile($event)">
				<div *ngIf="imagePreview">
					<img [src]="imagePreview" class="mt-1" height="50" width="80px"> <br/>
				</div>
			</div>
			<div class = "form-group">
				<label for = "inputAddress">Address</label>
				<input type = "text" class = "form-control" id = "inputAddress" 
				placeholder = "Enter address" formControlName="address" (click)="openModal('add-new-address')"  autocomplete="off">
			</div>
			<div class = "form-group">
				<label for = "inputState">Higher Education</label>
				<select id = "inputState" class = "form-control" formControlName="education">
					<option selected disabled value="">Select Education</option>
					<option>High School</option>
					<option>Intermediate</option>
					<option>Graduation</option>
					<option>Post Graduation</option>
				</select>
			</div>
			<div class = "form-group">
				<label for = "inputAddress">Linkedin</label>
				<span class="social-icon">
					<img class="social-img" data-toggle="dropdown" id="selectedOption"src="assets/img/linkedInIcon.svg" alt="">
				</span>
				<input type = "text" class= "social-input form-control" formControlName="linkedIn" id = "inputAddress" 
				placeholder = "Enter Linkedin">
			</div>
			<div class = "form-group">
				<label for = "inputAddress">Facebook</label>
				<span class="social-icon">
					<img class="social-img" data-toggle="dropdown" id="selectedOption"src="assets/img/facebookIcon.svg" alt="">
				</span>
				<input type = "text" class="social-input form-control" id="inputAddress" 
				placeholder = "Enter FaceBook" formControlName="facebook">
			</div>
			<button  type = "submit" class = "btn btn-primary w-100" [disabled]="privateInformationForm.status=='INVALID'" (click)="savePrivateInformation()">Submit</button>
		</div>
	</form>
</div>

<jw-modal id="add-new-address">
    <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="height: 500px;">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel" (click)="openModal('user-address')">+ Add a new address</h5>
				<button type="button" class="close" (click)="closeModal('add-new-address')" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-scroll">
				<div class="f-13 color-grey">{{userAddresses ? userAddresses.length : 0}} Saved address</div>
				<div *ngIf="userAddresses && userAddresses.length>0">
					<div class="card mt-1" *ngFor="let address of userAddresses" (click)="selectedAddress(address.id)">
					  <div class="card-body"><h5>{{address.addressType}}</h5>
					  	<span>{{address.houseNo}},{{address.address}},{{address.city}}</span>
					  	<i *ngIf="address.selected" class="fa fa-check-circle" aria-hidden="true"></i>
					  	<br>
					  	<span>{{address.state}}-{{address.pincode}}</span>
					  </div>
					</div>
				</div>
			</div>
			<div class="modal-footer border-top-0 d-flex justify-content-center">
				<button type="submit" class="btn btn-primary w-100"(click)="saveAddress()">Continue</button>
			</div>
		</div>
	</div>
</jw-modal>
<jw-modal id="user-address">
    <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" >
			<div class="modal-header border-bottom-0">
				<h5 class="modal-title" id="exampleModalLabel">Add new Address</h5>
				<button type="button" class="close" (click)="closeModal('user-address')" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form [formGroup]="addAddressForm">
				<div class="modal-body ">
					<div class="form-group">
						<label >House no.,Building name</label>
						<input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="House no.,Building name" formControlName="buildingName">
					</div>
					<div class="form-group">
						<label >Road Name,Area,Colony</label>
						<input type="text" class="form-control" id="password1" placeholder="Road Name,Area,Colony" formControlName="area">
					</div>
					<div class="form-group">
						<label for="">City</label>
						<input type="text" class="form-control" id="password2" placeholder="Enter City" formControlName="city">
					</div>
					<div class="form-group">
						<label >State</label>
						<input type="text" class="form-control" id="password2" placeholder="Enter State" formControlName="state">
					</div>
					<div class="form-group">
						<label >Pincode</label>
						<input type="text" class="form-control" id="password2" placeholder="Enter Pincode" formControlName="pincode">
					</div>
					<div class = "form-group">
						<label for = "inputState">Address Type</label>
						<select id = "inputState" class = "form-control" formControlName="addressType">
							<option selected disabled>Select Address Type</option>
							<option>Home</option>
							<option>Office</option>
							<option>Work</option>
							<option>Main</option>
							<option>Other</option>
						</select>
					</div>
				</div>
				<div class="modal-footer border-top-0 d-flex justify-content-center">
					<button type="submit" class="btn btn-primary w-100" [disabled]="addAddressForm.status=='INVALID'" (click)="createAddress()">Add a Adress</button>
				</div>
			</form>
		</div>
	</div>
</jw-modal>