<div class="container pt-5 mb-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style=" border-radius: 21px">
                <img class="logo center mt-5"  src="assets/img/personImg.jpg" alt="image" height="45" width="45" />
                <a href="#" class="text-center pt-1">Update Photo</a>
                <div class="card-body">
                    <div class="d-flex">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p class="card-text pl-2">45 reviews</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p class="card-text pl-2">Identify verified</p>
                    </div>
                    <div class="border-confirm"></div>
                    <h6 class="pb-2 font-weght f-21">Badrinath Confirmed </h6>
                    <div class="d-flex">
                        <i style="font-size:20px" class="fa">&#xf00c;</i>
                        <p class="card-text pl-2">Identify </p>
                    </div>
                    <div class="d-flex">
                        <i style="font-size:20px" class="fa">&#xf00c;</i>
                        <p class="card-text pl-2">Email Address</p>
                    </div>
                    <div class="d-flex">
                        <i style="font-size:20px" class="fa">&#xf00c;</i>
                        <p class="card-text pl-2">Phone Number</p>
                    </div>
                    <div class="d-flex pt-5">
                        
                        <p class="card-text pl-1"><a href="#" class="pr-1">Learn more</a>about how confirming account info helps keep the Airbnb community secure</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 pt-3">
            <h6 class="font-weght f-21">Hi, I'm Badrinath</h6>
            <p class="f-12 color-grey"> Joined in 2014</p>
            <a href="#" class="text-center pt-1 color-black">Edit Profile</a>
            <div>
                <p class="font-weght f-21 pt-5">About</p>
            </div> 
            <div class="d-flex">
                <i class="fa fa-home" aria-hidden="true"></i>
                <p class="card-text pl-2 mb-2">Lives in Business, Belguim</p>
            </div>
            <div class="d-flex">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p class="card-text pl-2 mb-2">Speaks English</p>
            </div>
            <div class="d-flex">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p class="card-text pl-2">Work: Software Engineer</p>
            </div>
            <div class="border-confirm"></div>

        </div>
    </div>
</div>