<app-header></app-header>
<div class="container">
    <br>
    <div class="font-30 font-weight-bold">Order Confirmation</div>
    <br>
    <br>
    <div class="row">
        <div class="col">Item total</div>
        <div class="col">100</div>
    </div>
    <div class="row">
        <div class="col">Service charge (6%)</div>
        <div class="col">100</div>
    </div>
    <div class="row">
        <div class="col">Total</div>
        <div class="col">100</div>
    </div>
    <hr>
    <div class="font-weight-bold">View Detail</div>
    <div class="row">
        <div class="col">Sub category</div>
        <div class="col">Plumbing</div>
    </div>
    <div class="row">
        <div class="col">Spoken language</div>
        <div class="col">English</div>
    </div>
    <div class="row">
        <div class="col">Schedule Appointment</div>
        <div class="col">English</div>
    </div>
    <hr>
    <div class="row">
        <div class="col">Address</div>
        <div class="col">kanpur</div>
    </div>
    <br>
    <br>
    <br>
    <input [routerLink]="['/payment']" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="submit" value="Proceed to Payment">
    <br>
    <br>
    <br>
    <br>
</div>