<div class="container" style="padding-top: 125px;">
    <div>
        <div class="card mb-3 box-shadow" >
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div>
                            <h5 class="font-bold">Delivery Address</h5>
                            <h5>Aman</h5>
                            <p>Shiv katra road lalbangla harsh building Police chauki lal bangla,Saral nursing home Kanpur-208010,Uttar Pradesh</p>
                            <p><span class="font-bold">Phone number </span><span>9007000876</span></p>
                            <p>This order is also tracked by 900700876</p>
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <!-- <div class="col-4">
                        {{order.totalAmount}}
                    </div>
                    <div class="col-4">
                        <div *ngIf="order.orderStatus!='COMPLETED'; else showMessage">
                            {{order.orderStatus}}
                        </div>
                        <ng-template #showMessage>
                            <button type="button" class="btn btn-primary" (click)="goToChat(order)">Message</button>
                        </ng-template>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="card mb-5 box-shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="d-flex">
                            <img src="assets/img/personImg.jpg" width="50px" height="50px">
                            <h5>Ammi Indie Collection Floral Print women</h5>
                            <!-- <h5 class="font-bold">Delivery Address</h5>
                                <p>Shiv katra road lalbangla harsh building Police chauki lal bangla,Saral nursing home Kanpur-208010,Uttar Pradesh</p>
                                <p><span class="font-bold">Phone number </span><span>9007000876</span></p>
                                <p>This order is also tracked by 900700876</p> -->
                            </div>
                            <h5 class="font-bold pl-57">$576</h5>
                    </div>
                    <div class="col-4">

                        <p>You order has been placed</p>
                        <div class="d-flex">
                            <p>Tue,29th Dec 3:24pm</p>
                            <p style="padding-left: 40px;">Payment Approved</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h5 class="font-bold">Delivery expected by Jan 01, 2021</h5>
                        <div class="d-flex">

                            <i class="fa fa-times-circle-o pt-2 color-blue" aria-hidden="true"></i>
                            <p class="pl-2 f-14 font-bold color-blue padding-top-5">CANCEL SERVICE</p>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        {{order.totalAmount}}
                    </div>
                    <div class="col-4">
                        <div *ngIf="order.orderStatus!='COMPLETED'; else showMessage">
                            {{order.orderStatus}}
                        </div>
                        <ng-template #showMessage>
                            <button type="button" class="btn btn-primary" (click)="goToChat(order)">Message</button>
                        </ng-template>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>