<div class="container-fluid">
	<app-header></app-header>
	<img class="background" src="assets/img/header-bg.jpg" alt="">
	<br>
	<br>
	<br>
	<div class="row m-0">
		<div class="col-3 col-sm-3 col-lg-2 col-xl-1 colum-row text-center cursor-pointer category-card" *ngFor="let category of categories" (click)="selectCategory(category)" [routerLink]="['/category', category.id]">
			<div class="h-100 box-shadow-box p-2 border-radius-10">
				<img src="assets/img/{{category.name}}.png" alt="" width="60px">
				<div class="font-12 text-capitalize">{{category.name}}</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-3" *ngFor="let service of resentServices" [routerLink]="['/service', service.id]" (click)="selectService(service)">
				<div class="rounded service-card cursor-pointer">
					<img [src]="((service.user.imageUrl == '') || (service.user.imageUrl == 'null')) ? 'assets/img/personImg.jpg' : service.user.imageUrl" alt="" width="100%">
					<div class="heart font-20 p-2">
						<div class="fa fa-heart text-danger" *ngIf="checkSavedService(service.id)" (click)="removeSavedServiceProvider(service);$event.stopPropagation();"></div>
						<div class="fa fa-heart-o" *ngIf="!checkSavedService(service.id)" (click)="saveServiceProvider(service);$event.stopPropagation();"></div>
					</div>
					<div class="p-2 font-14">
						<div>
							<i class="fa fa-star text-danger"></i> {{service.rating}}
							<span class="dull-text text-capitalize">({{service.reviewers}}) · {{service.cityName}}</span>
						</div>
						<div><span class="text-capitalize">{{service.name}}</span></div>
						<div class="font-weight-bold font-15">Form ${{service.price}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<jw-modal id="log-out">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="close" (click)="closeModal('log-out')">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>

            <div class="p-4">
				<div class="font-34 font-weight-bold">Log out</div>
				<hr>
				<p>Are you sure want to log out?</p>
				<div class="row">
					<div class="col">
						<input (click)="closeModal('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="NO">
					</div>
					<div class="col">
						<input (click)="logout('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="YES">
					</div>
				</div>
            </div>
        </div>
    </div>
</jw-modal>

<app-login></app-login>

<app-sign-up></app-sign-up>