<app-header></app-header>
<!-- <nav class="navbar bg-light pt-15"> -->
    <!-- <img [routerLink]="['/']" class="logo" src="assets/img/icon.png" alt=""> -->
    <!-- <a class="navbar-brand" href="/"></a> -->
            
<div class="container-fluid pt-74">
    <div class="row">
        <div class="col-3">
            <div class="card" style="margin-left: -10px;">
                <div class="card-body">
                    <h6 class="font-700">Messaging</h6>
                </div>
            </div>
            <div class="message-scroll">
                <div *ngFor="let in of [0,1,2,3,4]">
                    <div class="card-body d-flex on-hover">
                        <img class="logo btn-primary border-radius-50"  id="selectedOption"  src="assets/img/construction.jpg" alt="" width="40px" height="40px">
                        <div>
                            
                            <h5 class="pl-2">Jean-Lious</h5>
                            <div class="d-flex">
                                <p class="pl-2 ">I will be there in 1 hour. Thank you</p>
                                <p class="float-right pl-4 text-muted">Jan 25</p>
                            </div>
                            <p class="pl-2 mt-in-negative text-muted">Completed 18 Jan-25 Jan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card" style="margin-left: -32px;">
                <div class="card-body"><h6 class="font-700">Jean-Louis and Marc</h6></div>
            </div>
            <div class="message-scroll" style="height: 765px;">
                
                <div *ngFor="let in of [0,1,2,3,4]">
                    <div class="div-in-centre pt-4">
                        <p>Jan9,2020</p>
                    </div>
                    <div class="div-in-centre " style="width: 590px;">
                        <div class="background-border"> 
                            <p class="p-3 f-14 text-muted"><i class="fa fa-star pl-2 pr-2" aria-hidden="true"></i>To protect your payment, always communicate and pay through the Airbnb website or app.•9:13 PM</p>
                        </div>
                        <div class="card-body d-flex">
                            <img class="logo btn-primary border-radius-50"  id="selectedOption"  src="assets/img/construction.jpg" alt="" width="40px" height="40px">
                            <div>
                                <div class="d-flex">
                                    <h5 class="pl-2 font-700">Jean-Lious</h5>
                                    <p class="pt-1 pl-1 f-14 text-muted">9:13PM</p>
                                </div>
                                <div class="d-flex">
                                    <p class="pl-2 ">Hello Jean, I am working at petit rechain. I need accommodation for 1 week. Thank you.</p>
                                    <!-- <p class="float-right pl-4 text-muted">Jan 25</p> -->
                                </div>
                                <!-- <p class="pl-2 mt-in-negative text-muted">Completed 18 Jan-25 Jan</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-in-centre " style="width: 590px;">
                <div class="d-flex">

                    <i class="fa fa-picture-o pt-3 pr-2 f-25" aria-hidden="true"></i>
                    <input type="text" id="fname" class="input-style" name="fname" placeholder="Type a message"><br>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-- </nav> -->
<!-- <section>
    <div class="row">
        <div class="col-4">
            <div class="p-3">
                <div class="d-flex pt-2 pb-2">
                    <img class="rounded-circle mr-3" src="assets/img/personImg1.jpg" alt="" width="48px" height="48px">
                    <div class="w-100">
                        <div>Deepak</div>
                        <div>Hello</div>
                    </div>
                    <div class="font-12">12PM</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="messageBox">
                <ion-item *ngFor="let message of messages; index as i;" lines="none" class="item_list">
                    <label class="allMessage">
                        <div [ngClass]="{'self': sender, 'other': !sender}">
                            <div class="profile-divider"></div>
                            <div class="body">{{ message.texts }} -->
                                <!-- <span class="messageStatus" *ngIf="user.id == message.sender" class="sent">
                                    <i *ngIf="message.deliveryStatus == 'Sending'" class="far fa-clock"></i>
                                    <i *ngIf="message.deliveryStatus == 'Sent'" class="fa fa-check"></i>
                                    <i *ngIf="message.deliveryStatus == 'Unread'" class='fas fa-check-double'></i>
                                    <span class="read">
                                        <i *ngIf="message.deliveryStatus == 'Read'" class='fas fa-check-double'></i>
                                    </span>
                                </span> -->
                           <!--  </div>
                        </div>
                    </label>
                </ion-item>
            </div>
        </div>
    </div>
</section> -->