<div class="container pt-5 bread-in-center">
	<div class="bread-in-center">
		<div class="breadcrumb flat align-items-center w-100">
		    <a href="javascript:void(0)" class="active">Private Information</a>
		    <a href="javascript:void(0)" id="emergency" [ngClass]="{'active' : isEmergency}">Emergency Contact</a>
		    <a href="javascript:void(0)" [ngClass]="{'active' : isWorkInfo}">Work Information</a>
		    <a href="javascript:void(0)" [ngClass]="{'active' :  isBusiness}">Business Information</a>
		</div>
	</div>
</div>