<div class="container-fluid">
	<nav class="navbar bg-light">
		<img class="logo" src="assets/img/icon.png" alt="">
		<a class="navbar-brand" href="/"></a>
		<div class="dropdown">
			<img class="logo btn-primary dropdown-toggle" data-toggle="dropdown" id="selectedOption" src="assets/img/personImg1.jpg" alt="">
			<div class="dropdown_div dropdown-menu">
				<a class="dropdown-item" (click)="openModal('login')" href="#">Log In</a>
				<a class="dropdown-item" (click)="openModal('sign-up')" href="#">Sign Up</a>
			</div>
		</div>
	</nav>
	<img class="background" src="assets/img/header-bg.jpg" alt="">
</div>
<app-login></app-login>
<app-sign-up></app-sign-up>