<div class="container-fluid">
	<nav class="navbar bg-light">
		<img class="logo" src="assets/img/icon.png" alt="">
		<a class="navbar-brand" href="/"></a>
		<div class="dropdown">
			<img class="logo btn-primary dropdown-toggle" data-toggle="dropdown" id="selectedOption"  [src]="userImage ? userImage : 'assets/img/personImg1.jpg'" alt="">
			<div class="dropdown_div dropdown-menu">
				<a class="dropdown-item" *ngIf="!user" (click)="openModal('login')" href="#">Log In</a>
				<a class="dropdown-item" *ngIf="!user" (click)="openModal('sign-up')" href="#">Sign Up</a>
				<a class="dropdown-item" *ngIf="user" (click)="openModal('log-out')" href="#">Log Out</a>
			</div>
		</div>
	</nav>
	<img class="background" src="assets/img/header-bg.jpg" alt="">
</div>

<jw-modal id="log-out">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="close" (click)="closeModal('log-out')">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>

            <div class="p-4">
				<div class="font-34 font-weight-bold">Log out</div>
				<hr>
				<p>Are you sure want to log out?</p>
				<div class="row">
					<div class="col">
						<input (click)="closeModal('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="NO">
					</div>
					<div class="col">
						<input (click)="logout('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="YES">
					</div>
				</div>
            </div>
        </div>
    </div>
</jw-modal>

<app-login></app-login>

<app-sign-up></app-sign-up>