.col-md-6 {
	padding: 16px;
}

.section2 {
	padding-right: 0;
}

.image1 {
	width: 500px;
	padding-left: 0;

	img {
		border-radius: 12px 0px 0px 12px;
		width: 100%;
	}
}

.image2 {
	width: 50%;
	padding-top: 0;

	img {
		width: 100%;
	}
}

.image3 {
	width: 50%;
	padding-top: 0;

	img {
		border-radius: 0px 12px 0px 0px;
		width: 100%;
	}

}

.image4 {
	width: 50%;

	img {
		width: 100%;
	}

}

.image5 {
	width: 50%;

	img {
		border-radius: 0px 0px 12px 0px;
		width: 100%;
	}

}

.container {
	padding: 0;
	padding-top: 66px;
}