.navbar-brand {
    position: relative;
    // background: url(assets/img/icon.png);
    width: 170px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown_div {
    right: 0;
    left: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.footer-md::before {
	background-image: none;
}

.map {
	height: 100%;
	width: 100%;
	vertical-align: top;
	position: fixed !important;
}

.loginbutton {
	width: 100%;
	padding: 10px;
	color: white;
	font-size: 17px;
	border-radius: 3px;
	font-weight: bold;
	font-family: sans-serif;
	background: #8F1E3D !important;
	box-shadow: 0px 0px 16px 0px #90323d9e;
}

.headerGrid {
	width: 94%;
	z-index: 1;
	margin: 10px;
	position: fixed;
	border-radius: 20px;
	background: white;
	box-shadow: 0px 0px 5px 0px gray;

	.iconBack {
		i {
			font-size: 20px;
			margin-left: 10px;
		}
	}
}

.locationDrop {
	overflow: hidden;
	white-space: nowrap;
	visibility: inherit;
	text-overflow: ellipsis;
}

#pac-input {
	font-size: 16px;
	font-weight: 300;
	margin-left: 32px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 85vw;
	margin-top: 20px;
	height: 6vh;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.back-arrow {
	position: absolute;
	top: 30px;
	left: 10px;
	z-index: 10;
	font-size: 18px;
	color: #8f1e3d;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}