<nav class="navbar" [ngClass]="{'bg-light': !isScroll || isSearch}">
	<img [routerLink]="['/']" class="logo" src="assets/img/icon.png" alt="">
	<!-- <a class="navbar-brand" href="/"></a> -->
	<div class="search-container" *ngIf="!isScroll && !isSearch">
    	<div class ="search d-flex border">
    		<div class="form-group mb-0 dropdown">
    			<!-- <label for="usr" class="search-label mb-0">Location</label> -->

		      	<input type="text" placeholder="Start your search" name="search" class ="input-search" (click)="showSearch()" style="border-right: 1px solid white; padding-left: 28px; padding-top: 8px;">
    		</div>
	      <button type="submit" class="search-icon"  style="margin-top: 0px;" ><i class="fa fa-search"></i></button>
    	</div>
  	</div>
  	<div class="search-container" *ngIf="isScroll || isSearch">
	    <form action="/action_page.php">
	    	<div class ="search d-flex border">

    			<div class="form-group mb-0  pl-2 pt-1 dropdown" id="location-card">
	    			<label for="usr" class="search-label mb-0 font-12">Location</label>
	    			<br>
			        <input type="text" placeholder="Where are you going" name="search" class ="input-search" data-toggle="dropdown"  [(ngModel)]="location" class ="input-search" [ngModelOptions]="{standalone: true}" id="location-input" />
	    		</div>
	    		<div class="form-group mb-0" id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker date-style"  inline="true">
	    			<label for="usr" class="search-label mb-0 font-12">Date</label>
	    			<br>
		      		<input type="date" placeholder="Date" [(ngModel)]="selectedDate"  [ngModelOptions]="{standalone: true}" class ="input-search" (input)="parseDate($event.target.value)">
	    		</div>
	    		<div class="form-group mb-0 dropdown">
	    			<label for="usr" class="search-label mb-0 font-12">Category</label>
	    			<br>
			      	<input type="text" placeholder="Category" name="search" [(ngModel)]="selectedCategory" class ="input-search" [ngModelOptions]="{standalone: true}" data-toggle="dropdown" list="category">
			      	<datalist id="category"  *ngIf="categories && categories.length>0">
					    <option *ngFor="let category of categories"  [value]="category.name">{{category.name}}</option>
					</datalist>
		    	</div>
		      <button type="submit" class="search-icon" (click)="searchedCategory()"><i class="fa fa-search"></i></button>
	    	</div>
	    </form>
  	</div>
	<div class="dropdown">
  		<button *ngIf="user"  type="button" class="btn btn-light switch-button" (click)="switchToHost()">Switch to host</button>
		<img class="logo dropdown-toggle" data-toggle="dropdown" id="selectedOption"  [src]="((userImage == '') || (userImage == 'null')) ? 'assets/img/personImg.jpg' : userImage" alt="">
		<div class="dropdown_div dropdown-menu">
			<a class="dropdown-item py-2" *ngIf="!user" href="javascript:void();" [routerLink]="['/login']">Log In</a>
			<a class="dropdown-item py-2" *ngIf="!user" href="javascript:void();" [routerLink]="['/sign-up']">Sign Up</a>
			<a class="dropdown-item py-2 font-700" *ngIf="user" (click)="getUserSavedService()" href="javascript:void(0)">Saved</a>
			<a class="dropdown-item py-2 font-700" *ngIf="user" href="/message">Message</a>
			<a class="dropdown-item py-2 font-700" *ngIf="user" [routerLink]="['profile']">Profile</a>
			<a class="dropdown-item py-2 font-700" *ngIf="user" (click)="navigateToOrders()">My Orders</a>
			<hr *ngIf="user">
			<a class="dropdown-item py-2" *ngIf="user" (click)="openModal('log-out')" href="#">Saved</a>
			<a class="dropdown-item py-2" *ngIf="user" (click)="navigateToStats()">Stats</a>
			<a class="dropdown-item py-2 logoutBtn" *ngIf="user" (click)="openModal('log-out')" href="javascript:void(0)">Log Out</a>
		</div>
	</div>
</nav>
<div id="map" style="display: none;"></div>

<jw-modal id="log-out">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="close" (click)="closeModal('log-out')">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>

            <div class="p-4">
				<div class="font-34 font-weight-bold">Log out</div>
				<p>Are you sure want to log out?</p>
				<div class="row">
					<div class="col">
						<input (click)="closeModal('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="NO">
					</div>
					<div class="col">
						<input (click)="logout('log-out')" class="btn-theme ln-40  text-center btn-block font-14 text-uppercase nowrap mt-4 caret-transparent" type="button" value="YES">
					</div>
				</div>
            </div>
        </div>
    </div>
</jw-modal>