<nav class="navbar bg-light">
	<img class="logo" src="assets/img/icon.png" alt="">
	<!-- <a class="navbar-brand" href="/"></a> -->
	<div class="search-container">
	    <form action="/action_page.php">
	    	<div class ="search d-flex">

	    		<div class="form-group mb-0 dropdown">
	    			<label for="usr" class="search-label mb-0">Location</label>
	    			<br>

			      	<input type="text" placeholder="Where are you going" name="search" class ="input-search" data-toggle="dropdown" list="location" [(ngModel)]="location" class ="input-search" [ngModelOptions]="{standalone: true}">
			      	<datalist id="location"  *ngIf="categories && categories.length>0">
					    <option *ngFor="let item of categories" [value]="item.name">{{item.name}}</option>
					</datalist>
	    		</div>
	    		<div class="form-group mb-0" id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker date-style"  inline="true">
	    			<label for="usr" class="search-label mb-0">Date</label>
	    			<br>
		      		<input type="text" placeholder="Date" [(ngModel)]="selectedDate"  [ngModelOptions]="{standalone: true}" class ="input-search" (click)="datepicker()">
	    		</div>
	    		<div class="form-group mb-0 dropdown">
	    			<label for="usr" class="search-label mb-0 ">Category</label>
	    			<br>
			      	<input type="text" placeholder="Category" name="search" [(ngModel)]="selectedCategory" class ="input-search" [ngModelOptions]="{standalone: true}" data-toggle="dropdown" list="category">
			      	<datalist id="category"  *ngIf="categories && categories.length>0">
					    <option *ngFor="let category of categories"  [value]="category.name">{{category.name}}</option>
					</datalist>
		    	</div>
		      <button type="submit" class="search-icon" (click)="searchedCategory()"><i class="fa fa-search"></i></button>
	    	</div>
	    </form>
  	</div>
	<div class="dropdown">
		<img class="logo btn-primary dropdown-toggle" data-toggle="dropdown" id="selectedOption"  [src]="userImage ? userImage : 'assets/img/personImg1.jpg'" alt="">
		<div class="dropdown_div dropdown-menu">
			<a class="dropdown-item" *ngIf="!user" (click)="openModal('login')" href="#">Log In</a>
			<a class="dropdown-item" *ngIf="!user" (click)="openModal('sign-up')" href="#">Sign Up</a>
			<a class="dropdown-item" *ngIf="user" href="/message">Message</a>
			<a class="dropdown-item" *ngIf="user" (click)="openModal('log-out')" href="#">Saved</a>
			<a class="dropdown-item" *ngIf="user" (click)="openModal('log-out')" href="#">Log Out</a>
		</div>
	</div>
</nav>

<app-login></app-login>
<app-sign-up></app-sign-up>