<div class = "container">
	<app-servicer-provider-bread-crumb [stage]="providerStage"></app-servicer-provider-bread-crumb>
	<form class="form-in-centre mb-5" [formGroup]="emergencyContactForm">
		<h5 class="pt-5 pb-3">Emergency Contact</h5>
		<div class="form-border">
			<div class = "form-row">
				<div class = "form-group col-md-12">
					<label>Name</label>
					<input type = "text" class= "form-control" 
					id = "inputPassword4" placeholder = "Enter name" formControlName="name">
				</div>
			</div>
			<div class = "form-group">
				<label >Relation</label>
				<select id = "inputState" class = "form-control" formControlName="relation">
					<option selected disabled value=''>Select Relation</option>
					<option>Father</option>
					<option>Mother</option>
					<option>Sister</option>
					<option>Brother</option>
					<option>Cousin</option>

				</select>
			</div>
			<div class = "form-row">
				<div class = "form-group col-md-12">
					<label>Email</label>
					<input type = "email" class = "form-control" 
					id = "inputPassword4" placeholder = "Enter email" formControlName="email">
				</div>
			</div>
			<div class = "form-group">
				<label for = "inputAddress">Phone Number</label>
				<div class="row">
					<div class="col-5">
                        <app-country-input [countryCode] = "countryDialCode" (onCountryChange)="resetPhoneNumber($event)"> </app-country-input>
					</div>
					<div class="col-7">
						<input type = "text" class = "form-control" id = "inputAddress" 
						placeholder = "Phone Number" formControlName="phone">
					</div>
				</div>
			</div>
			<button  type = "submit" class = "btn btn-primary w-100" [disabled]="emergencyContactForm.status=='INVALID'" (click)="savedEmergencyContact()">Submit</button>
		</div>
	</form>
</div>
