<nav class="navbar navbar-expand-sm bg-light pt-0 pb-0 border-bottom">
	<img [routerLink]="['/']" class="logo" src="assets/img/icon.png" alt="" width="50px" height="50px">
	<ul class="navbar-nav pl-4 w-100">
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16 text-black" [routerLink]="['stats']">Home</a>
		</li>
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16  text-black" [routerLink]="['inbox']">Inbox</a>
		</li>
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16 text-black" [routerLink]="['listing']">Listing</a>
		</li>
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16 text-black" [routerLink]="['calender']">Calender</a>
		</li>
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16 text-black" [routerLink]="['jobs']">Jobs</a>
		</li>
		<li class="nav-item pt-2 mr-2" [routerLinkActive]="['routeActive']">
			<a class="nav-link font-16 text-black pt-2" [routerLink]="['performance/reviews']">Performance</a>
		</li>
	</ul>
	<input class="btn-theme-labour mr-3" type="button"  [routerLink]="['/private-information']" value="Create new listing">
	<div class="dropdown">
		<img class="image dropdown-toggle" data-toggle="dropdown" id="selectedOption"  [src]="((userImage == '') || (userImage == 'null')) ? 'assets/img/personImg.jpg' : userImage" alt="" height="35px" style="margin-left:0; ">
		<div class="dropdown_div dropdown-menu">
			<a class="dropdown-item font-700" *ngIf="user" href="service-provider/message">Message</a>
			<hr>
			<a class="dropdown-item" *ngIf="user" (click)="openModal('log-out')" href="#">Log Out</a>
		</div>
	</div>
</nav>

