.container_email {
    position: relative;
}

.icon_email {
    position: absolute;
    right: 25px;
    top: 50px;
    font-size: 20px;
}
.verify input{
    height:62px !important;
    font-size: 18px !important;
    font-weight:0px !important;
}
.icon_email_spinner {
    position: absolute;
    right: 25px;
    top: 50px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

input:-internal-autofill-selected {
    background-color: #fff !important;
    color: #000 !important;
}