<div class="container-fluid plr-10-sm mb-5 mt-5 pb-5" *ngIf="!isOtpSend">
    <div class="pt-4 plr-10-sm">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-4">
                        <div class="font-34 font-weight-bold mb-4">Forget Password</div>
                        <form [formGroup]="emailForm" (ngSubmit)="sendOTP()">                            
                            <div class="form-group">
                                <div class="input-border container_email" [ngClass]="{'border-danger shadow-sm': isNotPresent}">
                                    <i class="fa fa-check icon_email text-success" *ngIf="isPresent"></i>
                                    <i class="fa fa-times-circle icon_email text-danger" *ngIf="isNotPresent"></i>
                                    <div class="spinner-border text-warning icon_email_spinner" *ngIf="spinner"></div>
                                    <label class="font-13">Email</label>
                                    <input class="form-control h-45" type="email" formControlName="email" (keyup)="checkFieldEmail($event.target.value)" placeholder="Enter your email" name="email">
                                </div>
                            </div>
                            <div *ngIf="emailAlreadyExist" class="form-group loginError">
                                <i class="fa fa-exclamation-triangle"></i>
                                Sorry, email is not found!.
                            </div>
                            <input class="btn btn-primary input-border p-4 btn-theme-labour w-100" type="submit" [disabled]="emailForm.status == 'INVALID'" value="continue">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid plr-10-sm mb-5 mt-5 pb-5" *ngIf="isOtpSend && !isOtpValid">
	<div class="pt-4 plr-10-sm">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row">
					<div class="col-md-6 offset-md-3 mt-4">
						<div class="font-34 font-weight-bold mb-4">Verify Email</div>
						<div class="text-center">
							<form [formGroup]="verifyForm" (ngSubmit)="verifyOtp()" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
								<input class="input-border" formControlName="code1" type="text" id="digit-1" name="digit-1" data-current="digit-1" data-next="digit-2" />
								<input class="input-border" formControlName="code2" type="text" id="digit-2" name="digit-2" data-current="digit-2" data-next="digit-3" data-previous="digit-1" />
								<input class="input-border" formControlName="code3" type="text" id="digit-3" name="digit-3" data-current="digit-3" data-next="digit-4" data-previous="digit-2" />
								<input class="input-border" formControlName="code4" type="text" id="digit-4" name="digit-4" data-current="digit-4" data-next="digit-5" data-previous="digit-3" />
								<input class="input-border" formControlName="code5" type="text" id="digit-5" name="digit-5" data-current="digit-5" data-next="digit-6" data-previous="digit-4" />
								<input class="input-border" formControlName="code6" type="text" id="digit-6" name="digit-6" data-current="digit-6" data-previous="digit-5" />
								<input class="btn btn-primary input-border p-2 btn-theme-labour font-12 w-100 mt-5" type="submit" [disabled]="verifyForm.status == 'INVALID'" value="Verify">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid plr-10-sm mb-5 mt-5 pb-5" *ngIf="isOtpValid">
    <div class="pt-4 plr-10-sm">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-4">
                        <div class="font-34 font-weight-bold mb-4">Forget Password</div>

                        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

                            <div *ngIf="isValidEmailPass" class="form-group loginError">
                                <i class="fa fa-exclamation-triangle"></i>
                                Invalid email or password.
                            </div>

                            <div *ngIf="isAccountActive" class="form-group loginError">
                                <i class="fa fa-exclamation-triangle"></i>
                                Sorry, Your account has been suspended.
                            </div>

                            <div class="form-group">
                                <div class="input-border">
                                    <label class="font-13">Password</label>
                                    <input class="form-control h-45" type="password" formControlName="password" placeholder="Enter your Password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-border">
                                    <label class="font-13">Confirm Password</label>
                                    <input class="form-control h-45" type="password" formControlName="confirmPassword" placeholder="Enter your Confirm Password" name="confirmPassword">
                                </div>
                            </div>
                            <input class="btn btn-primary input-border p-4 btn-theme-labour w-100" type="submit" [disabled]="passwordForm.status == 'INVALID'" value="continue">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>